<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
        <div class="carousel-inner" role="listbox">
  
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="font-size: 100px;" class="animateanimated animatefadeInDown"><span>Event</span>.com</h2>
                <div class="buttons-container">
                  <a class="btn-menu animateanimated animatefadeInUp scrollto" routerLink="/admin/listEvent">Evenements</a>
                  
                  <a class="btn-menu animateanimated animatefadeInUp scrollto"routerLink="/admin/listParticipant">Participants</a>
                  <a class="btn-menu animateanimated animatefadeInUp scrollto"routerLink="/admin/listParticipation">Participations</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>