<div class="panel panel-primary">
    <div class="panel-heading">
      <h2> Liste Participations</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Date participation</th>
            <th>Nombre personne</th>
            <th>Participant</th>
            <th>Evenement</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let particip of participations ">
            <td>{{particip.id}}</td>
            <td>{{particip.date}} </td>
            <td>{{particip.nbPrs}}</td>
            <td>{{particip.participant.nom}}</td>
            <td>{{particip.evenement.idE}}</td>
            <td>
               <button (click)="deleteParticipation(particip.id)" class="btn btn-danger" 
                     style="margin-left: 10px">Supprimer</button> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
