<div class="container py-4">
  <div class="row g-0 align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <div class="card cascading-right" style="
          background: hsla(0, 0%, 100%, 0.55);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body p-5 shadow-5 text-center">
          <h2 class="fw-bold mb-5">LogIn </h2>
          <form   >
            <!-- e_mail input -->
            <div class="form-outline mb-4">
              <input type="e_mail" id="form3Example3" class="form-control" formControlName='e_mail' required />
              <label class="form-label" for="form3Example3">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" formControlName='pwd' required />
              <label class="form-label" for="form3Example4">Password</label>
            </div>



            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" >
              LogIn
            </button>
          </form>

        </div>
      </div>
    </div>

     <div class="col-lg-6 mb-5 mb-lg-0">
      <img src="assets/log.jpg" class="w-100 rounded-4 shadow-4" alt="" />
    </div>
  </div>
</div>

