<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(../../assets/backhome.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="font-size: 100px;" class="animate__animated animate__fadeInDown"><span>Event</span>.com</h2>
                <div>
                  <p class="btn-menu animate__animated animate__fadeInUp scrollto">Our Events</p>
                </div>
              </div>
            </div>
          </div>

          

        </div>

        

      </div>
    </div>
  </section>

<div id="etablissement">
  
</div>
<div class="container" >

<div class="flip-card">
  <div class="flip-card-inner">
      <div class="flip-card-front">
          <p class="title">halloween</p>
      </div>
      <div class="flip-card-back">
          
          <img style=" border-radius: 10px; width: 200px; height: 200px; margin-left: 43px; margin-bottom: 20px;"   src="../../assets/halloween.jpg">
          <a  class="tm-page-link">See More</a>

      </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
      <div class="flip-card-front">
          <p class="title">90's</p>
         
      </div>
      <div class="flip-card-back">
          
        <img style=" border-radius: 10px; width: 200px; height: 200px; margin-left: 43px; margin-bottom: 20px;"     src="../../assets/90s.jpeg">
          <a  class="tm-page-link">See More</a>

      </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
      <div class="flip-card-front">
          <p class="title">Cinemas</p>
         
      </div>
      <div class="flip-card-back">
          
        <img style=" border-radius: 10px; width: 200px; height: 200px; margin-left: 43px; margin-bottom: 20px;"     src="../../assets/8728.jpg">
          <a class="tm-page-link">See More</a>

      </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
      <div class="flip-card-front">
          <p class="title">Hotels</p>

      </div>
      <div class="flip-card-back">
          
        <img style=" border-radius: 10px; width: 200px; height: 200px; margin-left: 43px; margin-bottom: 20px;"    src="../../assets/hotel-panneau-entree.jpg">
          <a  class="tm-page-link">See More</a>

      </div>
  </div>
</div>

</div>

<app-footer></app-footer>

